<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Fuks Against Humanity</title>
    <link rel="icon" href="https://3d5.buchta.dev/themes/sigsegv2/static/img/favicon.ico?d=e31f8b6d">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="client/styles/layout.css">
    <link rel="stylesheet" href="client/styles/game.css">
    <script src="client/scripts/game.js"></script>

</head>

<body class="pushable">
    <div id="app" class="pusher">
        <div class="ui inverted vertical masthead center aligned segment">
            <div class="ui large secondary inverted pointing menu">
                <div class="item" v-for="user in Game.users" style="display: block;">
                    <div :class="decideUserAppearance(user)">
                        <i class="crown icon scoreboard" v-if="Game.inProgress && isCardCzar(user.nickname)"></i>
                        <div class="scoreboard">{{user.nickname}}</div>
                        <div class="scoreboard">{{user.score}}</div>
                    </div>
                </div>
                <div class="right item">
                    <a class="ui button" v-on:click="refresh()"> {{ myNickname }}</a>
                    <a class="ui button" v-on:click="ready()"> {{ myUser.ready ? 'you are ready' : 'ready' }} </a>
                </div>
            </div>
            <div id='loader'>
                <div class="ui massive text loader">Loading</div>
            </div>
            <div id='packMenu' v-if="!Game.inProgress && isGameLeader(myNickname)">
                <div class='ui container'>
                    <h1 class="ui inverted header">You are the game leader. </h1>
                    <h2>Choose which packs you want in the game. Click ready when you are done.</h2>
                    <br>
                    <div v-on:keyup.enter="addPack()" id="packCode" :class="loadingCardPack? 'ui icon input focus loading' : 'ui icon input focus'">
                        <input type="text" placeholder="Pack Code" v-model='packToImport'>
                        <i v-if="loadingCardPack" class="search icon"></i>
                    </div>
                    <div v-on:click="addPack()" id="nickname" class="ui large primary button" data-inverted="">
                        Add Pack
                    </div>
                    <br>
                    <br>
                    <select id="chosenPacks" multiple="" class="ui fluid search dropdown">
                        <option value="">Card Packs</option>
                        <option v-for="pack in packs" :value="pack.code">{{pack.name}}</option>
                    </select>
                </div>
            </div>
            <div v-if="Game.inProgress">
                <div class="ui nine column grid">
                    <div class="column">
                        <div id="call" class="ui card segment">
                            <div class="innerCard" v-if="Game.currentCard">
                                {{Game.currentCard.text.join("________")}}
                            </div>
                        </div>
                    </div>
                    <div class="column" v-for="play in Game.playedCards">
                        <div id="response" v-if="isCardCzar(myNickname)" class="ui call card segment button" v-on:click="chooseWinner(play)">
                            <div class="innerCard" v-if="Game.playedCards.length === Game.users.length - 1">
                                {{play.card.text[0]}}
                            </div>
                        </div>
                        <div id="response" v-else class="ui call card segment">
                            <div class="innerCard" v-if="Game.playedCards.length === Game.users.length - 1">
                                {{play.card.text[0]}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui inverted divider"></div>
                <div class="ui nine column grid">
                    <div v-for="card in myUser.cards" class="column">
                        <div id="response" v-bind:class="decideCardAppearance(card)" v-on:click="chooseCard(card)">
                            <div class="innerCard">
                                {{card.text[0]}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>