.notReady {
    opacity: 0.5;
}

.scoreboard {
    margin: 0.3em 0em 0em 0em;
}

.ui.card.segment {
    min-height: 23vh;
    font-family: Montserrat;
    font-size: small;
}

.innerCard {
    padding-top: 1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-bottom: 1em;
}

div.ui.column.grid {
    margin: 1em
}

#mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: 0;
    position: absolute;
    height: calc(100vh - 120px);
}

.ui.nine.column.grid {
    justify-content: center;
}

.ui.secondary.pointing.menu .right.item {
    align-self: center;
}

#myCards {
    bottom: 0;
}